%p#notice= notice


.row-fluid
  .span12
    .tabbable
      / Only required for left/right tabs
      %ul.nav.nav-tabs
        %li{:class => "#{'active' if current_page?(@page)}"}
          %a{"data-toggle" => "tab", :href => ('#' + @page.name)} 
            = @page.name
        - @page.root.children.each do |page|
          %li{:class => "#{'active' if current_page?(page)}"}
            %a{"data-toggle" => "tab", :href => ('#' + page.name)} 
              = page.name
              = page.children if page.children.present?
      .tab-content
        %div{id: @page.name, class: "tab-pane active"}
          %div{:id => @page.name, "data-mercury" => "simple"}
            = @page.content
        - @page.root.children.each do |page|
          %div{:id => page.name, :class => "tab-pane"}
            #page-content.mercury-region{"data-type" => "editable"}
              = raw page.content

%br/
= link_to "Formázás", "/editor" + request.path, class: "btn btn-warning"

