<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= yield(:title) + " - " + "Gersekarát"
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    #main{:role => "main"}
      .container-fluid
        .content.fix-width
          - if can? :destroy, @page
            = render 'layouts/admin_menu'
          = render 'layouts/navigation'
          = yield
        .fix-width.footer
          .pull-right
            = render 'layouts/footer'